@import "../global";

header, footer {
    padding: $padding-y $padding-x;
    background: $color-primary;
}

header {
    top: 0px;
    z-index: 70000;
    position: sticky;
    display: flex;
    align-items: center;;
    gap: 30px;
}

.nav__menu {
    list-style: none;
    transition: 0.2s;
    padding-bottom: 8px;

    &:hover {
        transition: 0.2s;
        transform: scale(1.15);
        font-weight: bold;
    }

    > a {
        color: white
    }
    
}

.footer {
    padding: $padding-y $padding-x;

    &__content {
        gap: 30px;
        display: flex;
    }

}

.site__main {
    min-height: 100vh;
}

.site__copyright {
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
}

.site__logo {
    &:hover {
        transform: scale(1.1)
    }
}

.headerNav, .footerNav {
    display: flex;
}

.headerNav {
    > ul {
        align-items: center;;
        display: flex;
        gap: 15px;
    }
}